@model List<ResultCarWithBrandDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
    int count = 0;
}
<div class="page-content">
    <div class="container-fluid">

        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Araçlar</h4>
                        <p class="card-subtitle mb-4">
                            <b>Buradan Araç Ekleme, Düzenleme, Silme ve Listeleme Yapılabilmektedir</b>
                        </p>
                        <div class="table-responsive">
                            <table class="table table mb-0">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Resim</th>
                                        <th>Marka</th>
                                        <th>Model</th>
                                        <th>Vites Türü</th>
                                        <th>Km</th>
                                        <th>Güncelle</th>
                                        <th>Sil</th>
                                        <th>Detaylar</th>
                                        <th>Sitede Görüntüle</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        count++;
                                        <tr>
                                            <th scope="row">@count</th>
                                            <td><img src="@item.CoverImageUrl" height="100px" /></td>
                                            <td>@item.BrandName</td>
                                            <td>@item.Model</td>
                                            <td>@item.Transmission</td>
                                            <td>@item.Km</td>
                                            <td><a href="/Admin/Car/UpdateCar/@item.CarId" class="btn btn-outline-warning"><b>Güncelle</b></a></td>
                                            <td><a href="/Admin/Car/RemoveCar/@item.CarId" class="btn btn-outline-danger"><b>Sil</b></a></td>
                                            <td><a href="/CarList/CarDetail/@item.CarId" class="btn btn-outline-dark"><b>Görüntüle</b></a></td>
                                            <td><a href="/CarList/CarDetail/@item.CarId" class="btn btn-outline-success"><b>Sitede Görüntüle</b></a></td>
                                        </tr>
                                    }

                                </tbody>
                            </table>
                            <a href="/Admin/Car/CreateCar/" class="btn btn-outline-primary">Yeni Araç Girişi</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>